:root {
  --main-color: blue;
}

.bpw-layout {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 0; /* Remove min-width to allow scaling on smaller screens */
}

.bpw-layout::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}