html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
  background: black;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}


#container{
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  line-height: 5em;
  text-decoration-color: green;
  background-color: rgba(255,255,255,0.2);
  z-index: 2;

}
#container:hover{
  transition: all 0.5s ease;
  background-color: rgba(255,255,255,0.21);

}
#top-bar{
  position: fixed;
  left:0;
  top:0;
  width:100vw;
  height:100px;
  text-align: center;
  line-height: 5em;
  background-color: transparent;
  padding: 0;

}


a{

  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  transition: all 0.3s ease;
}
a:hover{
  color: green;
  font-size: 23px;
  text-shadow: 0 0 20px green;
}
#top-bar #link1{
  position: absolute;
  right: 0;
  top: 0px;
}
#top-bar #link2{
  position: absolute;
  right: 100px;
  top: 0px;
}
